<h1>Listing pconfirms</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pconfirms.each do |pconfirm| %>
      <tr>
        <td><%= link_to 'Show', pconfirm %></td>
        <td><%= link_to 'Edit', edit_pconfirm_path(pconfirm) %></td>
        <td><%= link_to 'Destroy', pconfirm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pconfirm', new_pconfirm_path %>
