<p id="notice"><%= notice %></p>
Thank You for Confirming Your Participation <br> <br>

Your Registration Amount of Rs. 6,000/- is due on <%= @duedate %> <br><br>


<a href="http://nlpbangaloreapr14soe.doattend.com/">Click Here</a>to Pay the Registration Amount Now
