 
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "style" %>



 <div id="wrapper">

		
   <div class="header clear">
     
     <span><strong>uPwithNLP</strong> - Superior Capabilities Installed Confirmation Form</span>


     <div class="tngl"></div>
   </div>
                        <div class="form-login">
<h4><strong>Thank You for Confirming Your Participation.<strong></h4> <br>


Your Registration Amount of Rs. 6,000/- is due on <%= @duedate.strftime("%A, %d %B %Y") %> <br> 
<br>
<a href="http://nlpchennaijune14soe.doattend.com/">Click Here </a>to Pay the Registration Amount Now!
     


</div>
</div>












<br>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 954958128;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/954958128/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
