<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>E-mail</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background:#f1f1f1">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 20px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#434a54" style="padding: 15px 0 15px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="images/logo.png" alt="Email" width="160" height="77" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 20px 10px 10px 10px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 20px;">
										<h3 style="margin:0; padding:0;">Introducing- SOE Sales Dashboard!</h3>
									</td>
								</tr>
								<tr>
									<td style="padding: 10px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 15px;">
										... brings you your daily Doze of sales and lead status updates, from all of SOE, so that you can be current on what you are doing, your collegues are doing, so as to rise above all, as a team!
									</td>
                                    
								</tr>
                                
                                <tr>
									<td style="padding: 10px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height:18px;">
										<b>The dashboard has four sections,</b><br />
                                        
                                        1. Team Performance <br />
										2. Individual Performance <br />
										3. Overdue <br />
										4. Detailed Performance Sheet 
                                        
									</td>
                                    
								</tr>
                                
                                
                                <tr>
									<td style="padding: 10px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height:18px;">
										Feel free to explore each of them, to the fullest! <br />
                                        
                                        Cheers! 
                                        
									</td>
                                    
								</tr>
                                
                                
                                <tr>
									<td style="padding: 10px 0 10px 0; color: #ffffff; background:#434a54; text-align:center; font-family: Arial, sans-serif; font-size: 18px; line-height:18px;">
										Team Performance
									</td>
                                    
								</tr>
                                
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, sans-serif; margin-top:10px;">
                                        
                                         
                                        
											<tr>
												<td width="120" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    	<tr>
															<td style="width:100%; background:#fb6e52;">
																<h4 style="text-align:center; color:#fff; margin:0; padding:8px 0;">Last Week</h4>
															</td>
														</tr>
                                                    
                                                    
														<tr>
															<td style="width:100%;height:70px; background:#e9573e;">
																<h2 style="text-align:center; color:#fff;">26</h2>
															</td>
														</tr>
<tr>
<td width="120" style="padding: 6px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px;">	
                                                            		
<table width="100%" border="0" style="background:#e6e9ee; padding:5px;">
  <tr>
    <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
      <p style="margin:1px 0; padding:0; line-height:14px;">Name: <span style="font-weight:bold;">Kamala</span></p>
    </td>
   </tr>
   <tr>
     <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
       <p style="margin:1px 0; padding:0;line-height:14px;">Owner: <span style="font-weight:bold;">Vanashree Shembekar</span></p>
     </td>
   </tr>
</table>

</td>
</tr>
													</table>
												</td>
												<td style="font-size: 0; line-height: 0;" width="10">&nbsp;
													
												</td>
                                                
                                                <td width="120" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td style="width:100%; background:#ffce55;">
																<h4 style="text-align:center; color:#fff; margin:0; padding:8px 0;">This Week</h4>
															</td>
														</tr>
                                                    
                                                    
														<tr>
															<td style="width:100%;height:70px; background:#f6bb43;">
																<h2 style="text-align:center; color:#fff;">06</h2>
															</td>
														</tr>
<tr>
<td width="120" style="padding: 6px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px;">	
                                                            		
<table width="100%" border="0" style="background:#e6e9ee; padding:5px;">
  <tr>
    <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
      <p style="margin:1px 0; padding:0; line-height:14px;">Name: <span style="font-weight:bold;">Kamala</span></p>
    </td>
   </tr>
   <tr>
     <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
       <p style="margin:1px 0; padding:0;line-height:14px;">Owner: <span style="font-weight:bold;">Vanashree Shembekar</span></p>
     </td>
   </tr>
</table>

</td>
</tr>
													</table>
												</td>
												<td style="font-size: 0; line-height: 0;" width="10">&nbsp;
													
												</td>
                                                
                                                
                                                
                                                <td width="120" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td style="width:100%; background:#a0d468;">
																<h4 style="text-align:center; color:#fff; margin:0; padding:8px 0;">Yesterday</h4>
															</td>
														</tr>
                                                    
                                                    
														<tr>
															<td style="width:100%;height:70px; background:#8dc153;">
																<h2 style="text-align:center; color:#fff;">14</h2>
															</td>
														</tr>
<tr>
<td width="120" style="padding: 6px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px;">	
                                                            		
<table width="100%" border="0" style="background:#e6e9ee; padding:5px;">
  <tr>
    <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
      <p style="margin:1px 0; padding:0; line-height:14px;">Name: <span style="font-weight:bold;">Kamala</span></p>
    </td>
   </tr>
   <tr>
     <td width="100%" style="padding: 0; color: #153643; font-family: Arial, sans-serif; font-size: 11px; line-height: 1; margin:0;">
       <p style="margin:1px 0; padding:0;line-height:14px;">Owner: <span style="font-weight:bold;">Vanashree Shembekar</span></p>
     </td>
   </tr>
</table>


</td>
</tr>

                                                            
                                                            
                                                            
														
													</table>
												</td>
												<td style="font-size: 0; line-height: 0;" width="10">&nbsp;
													
												</td>
                                                
                                                
												<td width="120" valign="top">
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td style="width:100%; background:#48cfae;">
																<h4 style="text-align:center; color:#fff; margin:0; padding:8px 0;">Today</h4>
															</td>
														</tr>
                                                    
                                                    
														<tr>
															<td style="width:100%;height:70px; background:#37bd9c;">
																<h5 style="text-align:center; color:#fff;">16 - September - 14</h5>
															</td>
														</tr>
														<tr>
															<td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
																<p></p>
                                                                
                                                                
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
                                
                                <tr>
									<td>
             
                                
                                
                                <!-- Summary --><table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#e6e9ee;font-family: Arial, sans-serif; padding:12px; margin-top:10px;">
                                
                                
                                <tr>
									<td>
										
                                        
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <h2 style="margin:0; padding:0;margin-bottom:10px; font-size:20px; border-bottom:1px solid #bbb; padding-bottom:7px;">Ashish Mishra's Summary</h2>
                                        
                                        
                                        </table>
                                        
                                    </td>
                                </tr>
                                
                                
                                
                                <tr>
									<td>
										
                                        
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0; padding:0;">
                                                                              
 <tr>
  <td width="260" valign="top">
   <h4 style="margin:0; padding:0;">Yesterday</h4>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:0;margin:2px 0;color:#666;"><span>2</span> Fresh leads</p>
   <p style="padding:0; margin:0;margin:2px 0;color:#666;"><span>2</span> Fresh leads</p>
   <p style="padding:0; margin:0;color:#666;"><span>2</span> Fresh leads</p>
   </div>
   
   <br />
   
   <h4 style="margin:0; padding:0;">Previous Week</h4>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:0;margin:2px 0;color:#666;">Sales: <span>0</span></p>
   </div>
   
   <br />
   
   <h4 style="margin:0; padding:0;">Current Week</h4>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:0;margin:2px 0;color:#666;">Sales: <span>0</span></p>
   </div>
  </td>
  
  
  <td style="font-size: 0; line-height: 0;" width="10">&nbsp;
   
  </td>
  <td width="260" valign="top">
   <h4 style="margin:0; padding:0;">Previous Month</h4>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:0;margin:2px 0;color:#666;">Sales: <span>9</span></p>
   </div>
   
   
   <h5 style="padding:0; margin:0; margin-top:6px;">Sales Cycle:</h5>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:2px 0;color:#666;">1.Girishchandran</p>
   <p style="padding:0; margin:2px 0;color:#666;">2.Kiran</p>
   <p style="padding:0; margin:2px 0;color:#666;">1.Girishchandran</p>
   <p style="padding:0; margin:2px 0;color:#666;">2.Kiran</p>
   </div>
   
   <br />
   
   <h4 style="margin:0; padding:0;">Current Month</h4>
   
   <div style="font-size:13px;">
   <p style="padding:0; margin:0; margin:2px 0;color:#666;">Sales: <span>1</span></p>
   </div>
   
   <h5 style="padding:0; margin:0; margin-top:6px;">Sales Cycle:</h5>
   <div style="font-size:13px;">
   <p style="padding:0; margin:2px 0;color:#666;">1.Girishchandran</p>
   </div>
   
  </td>
 </tr>
</table>
                                        
                                    </td>
                                </tr>
                                
                                
                                </table><!-- Summary -->
                                
                                
                                
                                <!-- Summary --><table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, sans-serif; padding:0px; margin-top:10px;">
                                
                                
                                
                                
                                
<tr>
<td>
										
                                        
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0; padding:0;">
                                                                              
 <tr>
  
  <td width="140" valign="top" style="background:#434a54;">
   <a href="#" style="text-decoration:none;"><h5 style="margin:0; color:#ffffff;padding:0; text-align:center; padding:6px 0;">No Mans Money</h5></a>
  </td>
  
  <td style="font-size: 0; line-height: 0;" width="8">&nbsp;</td>
  
 <td width="140" valign="top" style="background:#434a54;">
   <a href="#" style="text-decoration:none;"><h5 style="margin:0; color:#ffffff;padding:0; text-align:center; padding:6px 0;">Orphan Sales</h5></a>
  </td>
  
  <td style="font-size: 0; line-height: 0;" width="8">&nbsp;</td>
  
 <td width="140" valign="top" style="background:#434a54;">
   <a href="#" style="text-decoration:none;"><h5 style="margin:0; color:#ffffff;padding:0; text-align:center; padding:6px 0;">Payment Plan not complete</h5></a>
  </td>
  
  
 </tr>
</table>
                                        
                                    </td>
                                </tr>
                                
                                
                                </table><!-- Summary -->
                                
                                
                                </td>
                                </tr>
                                
                                
                                
                                
							</table>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
