<h2>Editing Payment Plan</h2>

<%= render 'form' %>


<p><br><a class=" btn btn-sm btn-default" role="button" 
<%= link_to 'Show', @pplan %> 
<a class=" btn btn-sm btn-default" role="button"       <%= link_to 'Back', dashboard_index_path %>
<br>

</p>





