
Hello....!! 

WELCOME TO TREASURE HUNT! </p>



<%= link_to 'Report:1 Projection for Month',  monthlyreport_pplans_path %> </p> </p> 
<%= link_to 'Report:2 Source of Income for Month ',  report_two_pplans_path %> </p> </p> 
<%= link_to 'Report:3 Summary',  report_three_pplans_path %> </p> </p> 
<%= link_to 'Report:4 Over due and Not in payment plan',  report_four_pplans_path %> </p> </p> 
