<p id="notice"><%= notice %></p>

<p>
  <strong>Customftype:</strong>
  <%= @dropbox.customftype_id %>
</p>

<%= link_to 'Edit', edit_dropbox_path(@dropbox) %> |
<%= link_to 'Back', dropboxes_path %>
