<div class="page-header">
  <h2> <strong>Sales details</strong></h2>
</div>


<%= render "sales/salelist" %>

<p><a class=" btn btn-sm btn-default" role="button"  &raquo;        <%= link_to 'Back to Dashboard' , dashboard_index_path %> </a></p>
      <br>
</p>

<br>
