<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div class="page-header">
        <h2> <strong> Sales migration- Add new sale entry</strong></h2>
      </div>

<%= render 'form' %>

<%= link_to 'Back', sales_path %>
